---
import Card1 from "./Card1.astro"
---
<div class="ml-8 -translate-y-52" id="proyectos">
  <h2>Mis proyectos</h2>
  <div class="w-full bg-transparent px-8 py-2 items-center justify-center flex flex-row">
    <div class="justify-between px-8 py-6">
      <Card1 />
    </div>
  </div>
</div>
