<section class="border-2 border-[#ff4f6a] px-6 py-4 max-w-1/4">
  <h3 class="text-neutral-400 text-3xl font-bold mb-6">Ghostchat Messenger</h3>
  <img src="/ghostchat.png" alt="Ghostchat Messenger image" class="border border-neutral-600 mb-8" />
  <p>
    Aplicación de mensajería cifrada de extremo a extremo construida con Python,
    FastAPI y WebSockets. Implementa ECDH + AES-256-GCM para cifrado cliente a
    cliente, identidades anónimas y arquitectura de relay server sin
    almacenamiento de mensajes.
  </p>
  <div class="text-white mt-6">
    <h4 class="text-xl text-neutral-200 font-bold">Tecnologías usadas:</h4>
    <ul class="flex flex-row justify-around mt-4 text-neutral-500">
      <li>Python</li>
      <li>JavaScript</li>
      <li>CSS</li>
      <li>HTML</li>
    </ul>
  </div>
  <div class="flex flex-col align-middle py-4 text-[1rem] text-blue-600 font-extrabold">
    <a href="">Ver en Github</a>
    <a href="">Enlace</a>
  </div>
</section>
