<header class="absolute top-0 w-full z-10 min-h-12 bg-black/20 backdrop-blur-sm border-b border-[rgba(255,255,255,0.07)]">
  <div class="flex flex-row justify-between items-center px-3 py-2 sm:px-6">
    <nav>
      <a href="/"><h1 class="text-[#ffffff] hover:text-[#ddddf0]">martin.dev</h1></a>
    </nav>
    <div class="flex flex-row w-auto px-4">
      <a href="https://github.com/Martin08ABM?tab=repositories" target="_blank" rel="noopener noreferrer"><img src="/github.png" alt="Github Logo" class="w-6 sm:w-8" aria-label="Github"></a>
      <a href="https://linktr.ee/martin_bravo26" target="_blank" rel="noopener noreferrer" aria-label="Linktree">
        <img src="/link.webp" alt="Links Logo" class="w-6 sm:w-8 ml-4">
      </a>
    </div>
  </div>
</header>

<style>
  h1 {
    font-size: 1rem;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  }
</style>