---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Cards from "../components/Cards/Cards.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<title>Martin Bravo - Personal Portfolio</title>
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body>
		<Header />
		<Hero />
		<Cards />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #080810;
	}
</style>
